.formBox{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
}
